* {
    background-color: #4b0d60;
    color: #adadad;
    font-family: "Menlo", monospace;
    font-size: 16pt;
}

QMainWindow {
    background-color: #4b0d60;
}

QMainWindow QWidget {
    background-color: #4b0d60;
}

QStatusBar {
    border-top: 1px solid #555;
    padding: 8px;
    margin: 0px;
}

QWidget {
    background-color: transparent;
    color: #dddddd;
}

QFrame {
    background-color: transparent;
}

QLabel {
    background-color: transparent;
}

QGroupBox {
    background-color: #6b288b;
    color: #dddddd;
    border: 1px solid #666;
    border-radius: 8px;
    margin: 0px 0px 0px 0px;
    padding: 22px 4px 4px 4px;
}
QGroupBox::title {
    subcontrol-origin: margin;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 0px 8px;
    spacing: 12;
    color: #ffffff;
}
QGroupBox::indicator {
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}


ChatPanelWidget {
    background-color: #6b288b;
    color: #eeeeee;
    border: 1px solid #666;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
}


QLineEdit {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
    padding: 4px;
    min-height: 24px;
    max-height: 24px;
    margin: 0px;
}
QLineEdit:disabled {
    color: gray;
}


QTextEdit {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
    padding: 8px;
}


ChatTextWidget
{
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
}


QWidget#messagesContainer {
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 8px;
}

QWidget#fileListWidget {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
}

QWidget#modelWidget {
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 8px;
}

QWidget#toolPage0 {
    background-color: #4b0d60;
    border: 0px;
}
QWidget#toolPage1 {
    background-color: #4b0d60;
    border: 0px;
}
QWidget#toolPage2 {
    background-color: #4b0d60;
    border: 0px;
}
QWidget#toolPageToolbar0 {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
    min-height: 28px;
    padding: 4px;
}
QWidget#toolPageToolbar1 {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
    min-height: 28px;
    padding: 4px;
}
QWidget#toolPageToolbar2 {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
    min-height: 28px;
    padding: 4px;
}

QPushButton {
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 8px;
    padding: 8px;
    min-width: 100px;
    min-height: 26px;
    max-height: 26px;
    margin: 6px 0; /* Add vertical spacing between buttons */
}
QPushButton:hover {
    background-color: #7b389b;
}
QPushButton:disabled {
    color: gray;
}

QPushButton#trashYes {
    min-width: 24;
}

QPushButton#trashNo {
    min-width: 24;
}

QToolButton {
    background-color: transparent;
    border: none;
    padding: 0px;
    min-width: 20px;
    min-height: 20px;
}
QToolButton:disabled {
    color: gray;
}

QToolButton#optionsButton0 {
    background-color: #6b288b;
}
QToolButton#optionsButton1 {
    background-color: #6b288b;
}
QToolButton#optionsButton2 {
    background-color: #6b288b;
}

QListView {
    color: white;
    background-color: #6b288b;
    border: 1px solid #666;
    selection-background-color: #7ad94c;
    selection-color: black;
    outline: none;
    border-radius: 8px;
}


QListView::item {
    background-color: transparent;
    color: #d3d3d3;
    border: 1px solid #777;
    border-radius: 8px;
    margin: 4px;
    padding: 10px;
}

QListView::item:hover {
    background-color: transparent;
    color: #7ad94c;
}

QListView::item:selected {
    background-color: #7ad94c;
    color: black;
    border: 1px solid #888;
    border-radius: 8px;
    border-left: 4px solid #7ad94c;
}


QScrollArea {
    border: 0px;
    margin: 0px;
    padding: 0px;
}


QScrollBar:vertical {
    background: #6b288b;
    width: 15px;
}


QScrollBar::handle:vertical {
    background: #666;
    border-radius: 7px;
}


QScrollBar::handle:vertical:hover {
    background: #777;
}


QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}


/* Horizontal scrollbar styling to match vertical */
QScrollBar:horizontal {
    background: #6b288b;
    height: 15px;
}


QScrollBar::handle:horizontal {
    background: #666;
    border-radius: 7px;
}


QScrollBar::handle:horizontal:hover {
    background: #777;
}


QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    background: none;
}


QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}


/* QCheckBox Styles */
QCheckBox {
    background-color: transparent;
    color: #dddddd;
    spacing: 8px;
}
QCheckBox:disabled {
    color: gray;
}
QCheckBox::indicator {
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 3px;
    background-color: #6b288b;
}
QCheckBox::indicator:checked {
    image: url(:/assets/indicators/checkbox_checked.png);
    background-color: #fff;
    border: 1px solid #777;
}
QCheckBox::indicator:unchecked {
    image: url(:/assets/indicators/checkbox_unchecked.png);
    background-color: #6b288b;
    border: 1px solid #666;
}
QCheckBox::indicator:hover {
    background-color: #7b389b;
}


/* QRadioButton Styles */
QRadioButton {
    background-color: transparent;
    color: #dddddd;
    spacing: 8px;
}
QRadioButton:disabled {
    color: gray;
}
QRadioButton::indicator {
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 8px;
    background-color: #6b288b;
}
QRadioButton::indicator:checked {
    image: url(:/assets/indicators/radiobutton_checked.png);
    background-color: #666;
    border: 1px solid #777;
}
QRadioButton::indicator:unchecked {
    image: url(:/assets/indicators/radiobutton_unchecked.png);
    background-color: #6b288b;
    border: 1px solid #666;
}
QRadioButton::indicator:hover {
    background-color: #7b389b;
}


/* QMenu Styles */
QMenu {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
    padding: 4px;
}

QMenu::item {
    background-color: transparent;
    color: #dddddd;
    padding: 6px 20px 6px 20px;
    border-radius: 4px;
    margin: 2px 4px;
}

QMenu::item:selected {
    background-color: #7ad94c;
    color: black;
    border-radius: 4px;
}

QMenu::item:checked {



}

QMenu::separator {
    height: 1px;
    background-color: #666;
    margin: 4px 0;
}


/* QToolBox Styles */
QToolBox {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
}

QToolBox::tab {
    background-color: #7b389b;
    color: #dddddd;
    border: 1px solid #888;
    border-radius: 8px;
    padding: 4px;
    margin: 0px;
}

QToolBox::tab:selected {
    background-color: #7ad94c;
    color: black;
    border-bottom: 2px solid #7ad94c;
}

QToolBox::tab:hover {
    background-color: #7ad94c;
    color: black;
}

/* QComboBox Styles */
QComboBox {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
    padding: 4px 6px;
    min-height: 22px;
    max-height: 22px;
    margin: 0px;
}
QComboBox::disabled {
    color: gray;
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    border-left: 1px solid #666;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 20px;
}
QComboBox::down-arrow {
    image: url(:/assets/indicators/radiobutton_checked.png);
    width: 12px;
    height: 12px;
}
QComboBox::down-arrow:disabled {
    image: url(:/assets/indicators/radiobutton_unchecked.png);
}
QComboBox QAbstractItemView {
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 8px;
    selection-background-color: #7ad94c;
    selection-color: black;
    outline: none;
}
QComboBox QAbstractItemView::item {
    background-color: transparent;
    color: #dddddd;
    border: none;
    padding: 2px 2px;
}
QComboBox QAbstractItemView::item:selected {
    background-color: #7ad94c;
    color: black;
}


/* QTableView Styles */
QTableView {
    background-color: #6b288b;
    border: 1px solid #666;
    border-radius: 8px;
    gridline-color: #666;
    selection-background-color: #7ad94c;
    selection-color: black;
    alternate-background-color: #7b389b;
}

QTableView::item {
    background-color: transparent;
    padding: 6px;
    border: none;
}

QTableView::item:selected {
    background-color: #7ad94c;
    color: black;
}

QTableView::item:hover {
    background-color: transparent;
}

QHeaderView {
    background-color: transparent;
    border: none;
    padding: 4px;
}

QHeaderView::section {
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 6px;
    margin: 2px 0;
}

QHeaderView::section:hover {
    background-color: transparent;
}

QHeaderView::section:selected {
    background-color: transparent;
}

/* Remove borders around horizontal header columns */
QHeaderView::section {
    border: none;
}


QTableView QScrollBar:vertical {
    background: #6b288b;
    width: 15px;
}

QTableView QScrollBar::handle:vertical {
    background: #666;
    border-radius: 7px;
}

QTableView QScrollBar::handle:vertical:hover {
    background: #777;
}

QTableView QScrollBar::add-line:vertical,
QTableView QScrollBar::sub-line:vertical {
    background: none;
}

QTableView QScrollBar::add-page:vertical,
QTableView QScrollBar::sub-page:vertical {
    background: none;
}


/* Horizontal scrollbar styling for QTableView */
QTableView QScrollBar:horizontal {
    background: #6b288b;
    height: 15px;
}

QTableView QScrollBar::handle:horizontal {
    background: #666;
    border-radius: 7px;
}

QTableView QScrollBar::handle:horizontal:hover {
    background: #777;
}

QTableView QScrollBar::add-line:horizontal,
QTableView QScrollBar::sub-line:horizontal {
    background: none;
}

QTableView QScrollBar::add-page:horizontal,
QTableView QScrollBar::sub-page:horizontal {
    background: none;
}


/* Ensure button box is aligned to bottom */
QDialogButtonBox {
    margin-top: 10px;
}
