<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EoF Smart AI Chat</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>icon_256x256</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon_16x16.png</string>
				<string>icon_16x16@2x.png</string>
				<string>icon_32x32.png</string>
				<string>icon_32x32@2x.png</string>
				<string>icon_128x128.png</string>
				<string>icon_128x128@2x.png</string>
				<string>icon_256x256.png</string>
				<string>icon_256x256@2x.png</string>
				<string>icon_512x512.png</string>
				<string>icon_512x512@2x.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>EoF Smart AI Chat</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.eof.tools.smartaichat.sac</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>eofaichat</string>
	<key>CFBundleIconFile</key>
	<string>eofaichat.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EoF Smart AI Chat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>18</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon_512x512@2x.png</string>
			<key>CFBundleURLName</key>
			<string>EoF Smart AI Chat Profiles</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sac</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.18</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.5</string>
	<key>LSUIElement</key>
	<false/>
	<key>LSUIPresentationMode</key>
	<integer>0</integer>
	<key>LSVisibleInClassic</key>
	<true/>
	<key>NOTE</key>
	<string>Copyright © 2025 by EoF Software Labs</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 by EoF Software Labs</string>
	<key>NSPrefPaneIconFile</key>
	<string>eofaichat.png</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>eofaichat.icns</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>EoF Smart AI Chat</string>
			<key>UTTypeIconFile</key>
			<string>icon_512x512@2x.png</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>icon_512x512@2x.png</string>
				<key>UTTypeIconBadgeName</key>
				<string>icon_512x512@2x.png</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.eof.tools.smartaichat.sac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sac</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>EoF Smart AI Chat</string>
			<key>UTTypeIconFile</key>
			<string>icon_512x512@2x.png</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>icon_512x512@2x.png</string>
				<key>UTTypeIconBadgeName</key>
				<string>icon_512x512@2x.png</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.eof.tools.smartaichat.sac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sac</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
